body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  
}
/* Style for all products */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}
/* Style for single product */
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color:rgb(217, 238, 241);
  margin:21px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid rgb(232, 235, 238);
}
.product-image {
  width: 150px;
  height: 150px;
}
/* Style for cart */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgb(182, 228, 255);
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* Style for Heading */

.head{
  margin-top: 20px;
  font-size: 50px;
  color:rgb(45, 134, 218);
}

/* Style for rating */
.rating{
  margin:25px;
  color:rgb(138, 41, 235);
  font-weight: 700;
}


